{%extends 'main/base.html'%}
{%load static%}
{%block content%}

<div class="main-wrapper pt-80">
    <div class="container">
        <div class="row">
 
{%for profile in people%}
{%if profile != user.profile%}
{%if profile in user.profile.get_friend_list %}

              
    <li class="unorder-list ">
        <!-- profile picture end -->
{%include 'profiles/profile-picture.html' %}
        <!-- profile picture end -->

        <div  class="unorder-list-info">
            <h3 class="list-title"><a href="{{profile.get_absolute_url}}">{{profile.name|title}}</a></h3>
            <p class="list-subtitle">Bio</p>

          <form name="friend_id" action="{%url 'profile:add-remove-friend'%}" method="POST" value="{{profile.id}}" >
              <input  name = 'id' type="hidden" value="{{profile.id}}" >
              {% csrf_token %}
              <button type="submit" class="post-share-btn" style=" background-color:rgb(90, 90, 182);">Remove</button>
      </form>
        </div>
        
        

    </li>



{%else%}


                                            
                                        
                
    <li class="unorder-list  ">
        <!-- profile picture end -->
{%include 'profiles/profile-picture.html' %}
        <!-- profile picture end -->

        <div class="unorder-list-info">
            <h3 class="list-title"><a href="{{profile.get_absolute_url}}">{{profile.name|title}}</a></h3>
            <p class="list-subtitle">Bio</p>


            <form action="{%url 'profile:friend-request'%}" method="POST">
                <input  name = 'id' type="hidden" value="{{profile.user.id}}" >
                {% csrf_token %}
            
            
            
                
                {% if profile.user in user.profile.get_request_sent_list %}
                <button type="submit" class="post-share-btn" style="background-color: rgb(90, 90, 182);">Cancel</button>
            
                {%else%}
                 <button type="submit" class="post-share-btn" style="background-color: rgb(90, 90, 182);">Add</button>
                {%endif%}
            
            </form> 
        </div>
        
        

    </li>



{%endif%}
{%endif%}
{%endfor%}
</div>
</div>
</div>

{%endblock%}
